<div class="container-fluid">
    <div class="row mx-3">
        <div class="col-md-12">
            <h3 class="h3 mt-5">cidade-lista works!</h3>
        </div>
    </div>

    <div class="row mx-3">
        <div class="col-md-12">
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Consulta</li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <nav class="d-flex justify-content-end">
                <button class="btn btn-info me-5" (click)="novoCadastro()">
                    <i class="fa fa-plus"></i>Novo
                </button>
            </nav>
        </div>
    </div>

    <div class="row m-3">
        <div class="col-md-12">
            <div *ngIf="msgSucesso" class="alert alert-success" role="alert">
                {{ msgSucesso }}
            </div>
        </div>
    </div>

    <div class="row m-3">
        <div class="col-md-12">
            <div *ngIf="msgErro" class="alert alert-danger" role="alert">
                {{ msgErro }}
            </div>
        </div>
    </div>

    <div class="row m-3">
        <div class="col-md-12">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Nº</th>
                        <th>Nome</th>
                        <th>UF</th>
                        <th>Opções</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let cidade of cidadesLista">
                        <td>{{ cidade.id }}</td>
                        <td>{{ cidade.nome }}</td>
                        <td>{{ cidade.uf }}</td>
                        <td>
                            <button class="btn btn-warning">
                                <i class="fa fa-pen-square"></i>Editar</button>

                            <button class="btn btn-danger">
                                <i class="fa fa-trash"></i>Excluir</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>